<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="background-image auth-background">
<div class="wrapper">
    <header>
        <div th:insert="~{parts/navigation:: nav}"></div>
    </header>
    <main>
        <div class="container">
            <h2>Alle events</h2>
        </div>

            <section class="event-container">
                <div class="card" th:each="event : ${events}">
                    <div class="card-content">
                        <h3 th:text="${event.name}">Type</h3>
                        <p th:text="${event.type}">Type</p>
                        <p th:text="${event.format}">Format</p>
                        <p th:text="${event.maxPlayers}">Max antal spillere</p>
                        <p th:text="${event.date}">Dato</p>
                        <p th:text="${event.time}">Tid</p>
                        <p th:text="${event.eventStatus}">Event Status</p>
                        <a href="" class="changePageButton">Tilmeld</a>
                    </div>
                </div>
            </section>

    </main>
    <div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>

</html>