/* General definitions */
:root {
    --purple-brand-color: #43243d;
    --orange-brand-color: #ff4a02;
    --darkGray-brand-color: #242424;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color : var(--text-color)
}
html{
    box-sizing: border-box;
}


.wrapper{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr) ;
}

/* Responsive definitioner */
/* Media queries og grids her */

/* Header definitions */
header {
}

/* Navigation definitions */
nav {
}

/* Main definitions */
main {
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.auth-background {
    background-image: url(../image/smokePurpleBlue.png);
}

.prof-background {
    background-image: url(../../../../../uploads/cute2.jpg);
}

button{
    background-color: var(--orange-brand-color);
    color: white;
    border-radius: 8px;
}

.container{
    margin: 40px auto;
    padding: 20px;
    width: 75vw;
    text-align: center;
    background-color: var(--purple-brand-color);
    border-radius: 20px;
}

.inputBox{
    background-color: var(--darkGray-brand-color);
    color: var(--text-color);
}

/* Footer definitions */
footer {
    text-align: center;
    background-color: var(--purple-brand-color);
    color: white;
    width: 100%;
    padding: 20px;
}