@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root {
    --purple-brand-color: #43243d;
    --LigtPurple-brand-color: #7e5f9b;
    --orange-brand-color: #ff4a02;
    --darkGray-brand-color: #242424;
    --lightGray-brand-color: #c8c8c8;
    --text-color: white;
    --txtFont-brand-font: 'montserrat', sans-serif;
    --headingFont-brand-font: 'orbitron', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color : var(--text-color);
    font-family: var(--txtFont-brand-font);
}

h1,h2,h3{
    font-family: var(--headingFont-brand-font);
    font-weight: 100;
}

html{
    box-sizing: border-box;
}


.wrapper{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr) ;
}

/* Responsive definitioner */
/* Media queries og grids her */

/* Header definitions */
header {
}

/* Navigation definitions */
nav {
}

/* Main definitions */
main {
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.auth-background {
    background-image: url(../image/smokePurpleBlue.png);
}

.prof-background {
    background-image: url(../../../../../uploads/cute2.jpg);
}

button{
    color: var(--text-color);
    border-radius: 8px;
    padding: 3px;

}

.submitButton{
    background-color: var(--orange-brand-color);
}

.changePageButton{
    background-color: var(--LigtPurple-brand-color);
}

.button-group{
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    margin-top: 15px
}

.link-group{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    cursor: pointer;
}

.container{
    margin: 40px auto;
    padding: 20px;
    width: 75vw;
    text-align: center;
    background-color: var(--purple-brand-color);
    border-radius: 20px;
    opacity: 92%;

}

.inputBox{
    background-color: var(--darkGray-brand-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px;
    margin: 2px;
}
::placeholder{
    color : var(--lightGray-brand-color)
}

/* Footer definitions */
footer {
    text-align: center;
    background-color: var(--purple-brand-color);
    color: white;
    width: 100%;
    padding: 20px;
}