<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="background-image auth-background home-page">
<div class="wrapper">
    <header>
        <!-- header indhold -->
    </header>
    <main>
            <h2>Forside</h2>
        <div class="link-group">
            <div class="container" th:onclick="|window.location.href='@{/myDecks}'|">
                <h3>Mine deck </h3>
            </div>

            <div class="container" th:onclick="|window.location.href='@{/myEvents}'|">
                <h3>Mine events</h3>
            </div>

            <div class="container" th:onclick="|window.location.href='@{/allEvents}'|">
                <h3>Find events</h3>
            </div>

            <div class="container" th:onclick="|window.location.href='@{/allEvents}'|">
                <h3>Find events</h3>
            </div>

            <div class="container" th:onclick="|window.location.href='@{/allEvents}'|">
                <h3>Find events</h3>
            </div>

            <div class="container" th:onclick="|window.location.href='@{/allEvents}'|">
                <h3>Find events</h3>
            </div>

        </div>
    </main>
    <div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>

</html>