<div class="topnav" th:fragment="nav">
    <span class="nav-brand">Deckforge</span>
    <script type="text/javascript" th:src="@{/script.js}" defer></script>

    <div class="burger-menu" id="burgerToggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <div class="nav-links" id="navLinks">
    <a th:href="@{/homePage}"
       th:classappend="${currentUri == '/homePage' ? 'active' : ''}">Forside</a>

    <a th:href="@{/myDecks}"
       th:classappend="${currentUri == '/myDecks' ? 'active' : ''}">Mine decks</a>

    <a th:href="@{/myEvents}"
       th:classappend="${currentUri == '/myEvents' ? 'active' : ''}">Mine Events</a>

    <a th:href="@{/allEvents}"
       th:classappend="${currentUri == '/allEvents' ? 'active' : ''}">Find events</a>

    <a th:href="@{/myCards}"
       th:classappend="${currentUri == '/myCards' ? 'active' : ''}">Min kortsamling</a>

    <a th:href="@{/myProfile}"
       th:classappend="${currentUri == '/myProfile' ? 'active' : ''}">Min Profil</a>
    </div>
</div>

<!--
<div class="topnav" th:fragment="nav">
    <a th:href="@{/homePage}"
       th:classappend="${currentUri == '/homePage' ? 'active' : ''}">Forside</a>

    <a th:href="@{/myDecks}"
       th:classappend="${currentUri == '/myDecks' ? 'active' : ''}">Mine decks</a>

    <a th:href="@{/myEvents}"
       th:classappend="${currentUri == '/myEvents' ? 'active' : ''}">Mine Events</a>

    <a th:href="@{/allEvents}"
       th:classappend="${currentUri == '/allEvents' ? 'active' : ''}">Find events</a>

    <a th:href="@{/myCards}"
       th:classappend="${currentUri == '/myCards' ? 'active' : ''}">Min kortsamling</a>

    <a th:href="@{/myProfile}"
       th:classappend="${currentUri == '/myProfile' ? 'active' : ''}">Min Profil</a>
</div>

 -->